*{
    margin: 0%;
    padding: 0%;
}


.header{
    background-color: rgb(233, 158, 158);
    height:100px;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
}

 .header h3{
    background-color: rgb(210, 153, 153);
   /* float: left; */
   padding: 20px;
   font-size: 20px;
   /* margin-left: 20px; */
   margin: 20px 10px;

}

.header h4{
    background-color: rgb(210, 153, 153);
    padding: 20px;
    /* float: right; */
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.section {
background-color: lightpink;
/* clear: both; */
/* float: left; */
width: 50%;
height: 300px;
margin-top: 0%;
}

.section h2{
    padding:15px;
}

.section1 {
    background-color: rgb(193, 138, 147);
    /* float:right ; */
    width: 50%;
    padding: 0%;
    margin: 0%;
    height: 300px;
    margin-top: 0%;
    }
    .section1 h2{
        padding:15px;
    }
.footer{
    background-color: rgb(233, 158, 158);
    padding: 50px 0px;
    
}

.footer h5{
padding-left: 30px;  

  font-size: 20px;
}